@import "colors";
@import "fonts";
@import "responsiveWidth";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main {
  background-color: $main-backgroud;
  min-height: 100vh;
}

@media screen and (max-width: $extraSmall) {
  .main {
    min-height: 100vh;
  }
}
@media screen and (max-width: $large) {
  .main {
    min-height: 100vh;
  }
}
