@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400&family=Varela+Round&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400&display=swap");

$primaryFont: 500 1.4rem "Montserrat", sans-serif;

$mainFont: 500 5rem "Inconsolata", sans-serif;

$secondaryFont: 400 1rem "Varela Round";

$header: 400 2rem "Bebas Neue";

$mini: 0.9rem sans-serif;
