@import "colors";
@import "fonts";
@import "responsiveWidth";

div {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    h3 {
      font: $secondaryFont;
      text-align: center;
      color: $btn-text-clr;
    }

    input {
      padding: 1vmax 2vmax;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.267);
      outline: none;
      font: $mini;
    }
    button {
      margin-top: 30px;
      width: 50%;
      padding: 15px;
      border-radius: 10px;
      border: none;
      background-color: $btn-text-clr;
      color: $white;
      cursor: pointer;
    }
  }
}
