@import "colors";
@import "fonts";
@import "responsiveWidth";

.login {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .cart {
    display: flex;
    width: 50%;
    border-radius: 10px;
    min-height: 500px;
    overflow: hidden;
    .left {
      flex: 1;
      background: $gradient,
        url("https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: $white;
      h1 {
        font: $mainFont;
        line-height: 100px;
      }
      p {
        font: $primaryFont;
      }
      button {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        gap: 5px;
        width: 50%;
        padding: 10px;
        border: none;
        background-color: $white;
        color: $btn-text-clr;
        cursor: pointer;
        font: $secondaryFont;
        transition: 0.1s ease-in;
        font: $mini;
        &:hover {
          background-color: $btn-text-clr;
          color: $white;
        }
      }
    }
    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 50px;
      background-color: $white;
      h1 {
        font: $primaryFont;
        color: $headerColor;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
        input {
          padding: 1vmax 4vmax;
          padding-left: 1vmax;
          min-width: 100%;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.267);
          outline: none;
        }
        .passHolder {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: sticky;
            transform: translateX(-35px);
            font-size: 1vmax;
            cursor: pointer;
          }
        }

        button {
          margin-top: 30px;
          width: 50%;
          padding: 15px;
          border-radius: 10px;
          border: none;
          background-color: $btn-text-clr;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: $extraSmall) {
  .login {
    .cart {
      flex-direction: column;
      height: 100vh;

      .left {
        width: 100vw;

        h1,
        p {
          font-size: 25px;
        }
      }
      .right {
        padding: 30px;
        gap: 20px;
        width: 100vw;
        h1 {
          font-size: 25px;
        }

        form {
          gap: 5px;
          input {
            padding: 20px;
            font-size: 10px;
          }
          .passHolder {
            span {
              font-size: 20px;
            }
          }
          button {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $small) {
  .login {
    height: 100%;

    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 20px;
      .left {
        background-size: cover;
      }

      .right {
        h1 {
          font-size: 20px;
        }

        form {
          input {
            padding: 20px;
            font-size: 20px;
          }
          .passHolder {
            span {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $large) {
  .login {
    height: 100%;

    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 20px;
      .left {
        background-size: cover;
      }

      .right {
        h1 {
          font-size: 20px;
        }

        form {
          input {
            padding: 20px;
            font-size: 20px;
          }
          .passHolder {
            span {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
