@import "colors";
@import "fonts";
@import "responsiveWidth";

div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-backgroud;

  div {
    width: 35vw;
    background-color: $white;
    padding: 20px 0px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .form-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        font: $secondaryFont;
        h3 {
          color: $headerColor;
          font-size: 1.8rem;
        }

        p {
          color: $gradient;
        }
      }

      div {
        position: relative;
        input {
          padding: 1vmax 3vmax;
          min-width: 70%;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.267);
          outline: none;
          font: $mini;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          position: sticky;
          transform: translateX(35px);
          font-size: 1vmax;
          cursor: pointer;
        }
        select {
          font: $secondaryFont;
          min-width: 50%;
          padding: 1vmax 4vmax;
          margin: 2rem 0;
          box-sizing: border-box;
          border: 1px solid rgba(0, 0, 0, 0.267);
          border-radius: 4px;
          outline: none;
        }
      }
      button {
        margin-top: 30px;
        width: 50%;
        padding: 15px;
        border-radius: 10px;
        border: none;
        background-color: $btn-text-clr;
        color: $white;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: $small) {
  div {
    div {
      width: 100vw;
      height: 100vh;
      form {
        height: 50%;
        div {
          input {
            padding: 2.5vmax 5vmax;
            font: $mini;
          }
          svg {
            font-size: 2.5vmax;
          }
          input {
            font: 300 1.9vmax "Roboto";
          }
        }
      }
    }
  }
}

@media screen and (max-width: $large) {
  div {
    div {
      width: 100vw;
      height: 100vh;
      form {
        height: 50%;
        div {
          input {
            padding: 2.5vmax 5vmax;
            font: $mini;
          }
          svg {
            font-size: 2.5vmax;
          }
          input {
            font: 300 1.9vmax "Roboto";
          }
        }
      }
    }
  }
}
